* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(4, 4, 101);

}

h1,
h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 120px;
    text-decoration: underline;
    color: rgb(214, 226, 237);
    margin-bottom: 50px;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-color: lightblue;

}


#paragragh {
    max-height: 40px;
    overflow: hidden;
    transition: 0.4s ease;
    color: black;
}


#btn {
    margin-top: 10px;
    width: 120px;
    padding: 10px;
    background: black;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#btn:hover {
    background: gray;
    color: white;
}